<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958666327426-poaasn97uam9pnr4p0dcn903phhi49s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958666327426-poaasn97uam9pnr4p0dcn903phhi49s3</string>
	<key>API_KEY</key>
	<string>AIzaSyCD6P6q7gnmDk8Tf607YX47JiT7efhwlps</string>
	<key>GCM_SENDER_ID</key>
	<string>958666327426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppinglistapp</string>
	<key>PROJECT_ID</key>
	<string>lista-de-compras-2b021</string>
	<key>STORAGE_BUCKET</key>
	<string>lista-de-compras-2b021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958666327426:ios:541e55f28f0f77c0477b9b</string>
</dict>
</plist>